mode:
  standalone:
    enabled: true
  distributed:
    enabled: false

secret:
  rustfs:
    access_key: streamxadmin
    secret_key: streamxadmin

storageclass:
  name: ''
  dataStorageSize: 10Gi
  logStorageSize: 1Gi

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: ${RUSTFS_HOST}
      paths:
        - path: /
          pathType: Prefix

gatewayApi:
  enabled: false